**/.env
**/.env.local
.env*
.dockerignore
**/node_modules/
api/public
.dockerignore
.git
.gitignore
node_modules/
dist/
.history/
.github/
Dockerfile
*.md
azure-deploy/
infra/

/playwright-report/
/blob-report/
/playwright/.cache/

/test-results/
/test-results-docker/
test-results-docker-ent/
test-results-docker-org/
